/* body {
  background-image: url("../src/assets/image/pattern-1.webp");
} */













.section-title {
    color: #beb996;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: capitalize;
    font-family: "Niconne", cursive;
    font-weight: 400;
    font-style: normal;
}

.section-text {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: capitalize;
    font-family: "Niconne", cursive;
    font-weight: 400;
    font-style: normal;
}

.separate-icon {
    position: relative;
    width: 70px;
    height: 22px;
    margin-top: 10px !important;
    background: url(/assets/image/separate.5241f059.webp) no-repeat;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width:100%;
  height:100%;
  /* Center slide text vertically */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

/* 
.swiper-slide img {
  display: block;
  justify-self: flex-end;
}  */

.full-rounded {
  border-radius:100%;
}

.full-rounded-none {
  border-radius:none;
}


.box-size {
  width:100%;
  height: 100%;
}


@media (max-width:599.95px) and (min-width:320px) {
  .hide-cust-size {
      display:none;
  }
}

.search-top-popup {
    height: 100vh;
    width: 100%;
    transform: translateY(-100%);
    background-color: rgba(0,0,0,.9);
    transition: all 1.5s cubic-bezier(.86, 0, .07, 1);
    transition-timing-function: cubic-bezier(.86,0,.07,1)
}

.search-popup:before {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 560px;
    /* background-image: url(/_next/static/media/waves-shape.cfb93b6a.webp); */
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    margin-top: 0;
    content: ""
}