@import "tailwindcss";

@font-face {
  font-family: 'Lillybelle'; /* This is the name you'll use in Tailwind */
  src: url('./src/assets/fonts/LillyBelle.ttf');
  font-weight: normal;
  font-style: normal; 
}

@theme {
  --font-slider: Lillybelle, "sans-serif";
}

body {
  font-family: "Poppins";
  font-style: light;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}


/* Add in global CSS for delays */
li {
  transition: transform 0.5s cubic-bezier(0.25,1,0.5,1), opacity 0.5s;
}
li:nth-child(1) { transition-delay: 0.1s; }
li:nth-child(2) { transition-delay: 0.2s; }
/* ...and so on */



/*Top Navigation Animation style*/
.wave-bg {
  position: absolute;
  bottom: 0;
  top:2rem;
  left: 0;
  width: 100%;
  height: 8px;
  background: url('/assets/image/menu-separater-icon.webp') repeat-x bottom;
  background-size: auto 100%;
  opacity: 0;
  transition: opacity 0.9s;
}

li:hover .wave-bg {
  opacity: 1;
  animation: waveScrollX 6s linear infinite;
}

@keyframes waveScrollX {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 100%;
  }
}


@layer utilities {
  .dropdown-delay-hide {
    transition: opacity 0.5s ease-in-out 0.3s; /* 0.3s delay before hiding */
  }
}